input[type="checkbox"] {display: none;}

/* 메뉴 상단바 버튼*/
[id="menuicon"] + label {display:block;margin:3%;width:50px;height:51px; position:fixed;left : 25px; top : 3%;cursor:pointer;}
[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:5%;border-radius:30px;background:#000;transition:all .35s;}
[id="menuicon"] + label span:nth-child(1) {top:5px;}
[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);}
[id="menuicon"] + label span:nth-child(3) {bottom:6px;}
[id="menuicon"]:checked + label {z-index:2; left : 200px;}
[id="menuicon"]:checked + label span {background:rgb(0, 0, 0);}
[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
[class="sidebar"] {width:230px;height:100%;background:rgb(134, 134, 134);position:fixed;top:0;left:-300px;z-index:1;transition:all .35s;}


@media (max-width:800px) and (min-width:0px) {
	[id="menuicon"] + label {
		display:block;margin:2%;width:18px;height:21px; position:fixed;left : 25px; top : 3%;cursor:pointer;
	}
	[id="menuicon"] + label span {
		display:block;position:absolute;width:100%;height:5%;border-radius:30px;background:#000;transition:all .35s;
	}
	[id="menuicon"]:checked + label {z-index:2; left : 55px;}
	[id="menuicon"]:checked + label span {background:rgb(255, 255, 255);}
    [id="menuicon"]:checked + label span:nth-child(1) {
		top:50%;transform:translateY(-50%) rotate(45deg);
	}

	[id="menuicon"]:checked + label span:nth-child(2) {
	    opacity:0;
	}
	[id="menuicon"]:checked + label span:nth-child(3) {
        bottom:50%;transform:translateY(50%) rotate(-45deg);
	} 
	[class="sidebar"] {width:160px;height:100%;background:rgb(134, 134, 134);position:fixed;top:0;left:-300px;z-index:1;transition:all .35s;}
	[class="join"] {position:fixed; right : 100px; top : 40px; }
    [class="login"] {position:fixed; right : 200px; top : 40px;}
}



/*아래 추가 버튼*/

[class="conbox con1"] {margin-top:120px;margin-bottom: 60px; padding:0;}
[class="conbox con2"] {margin-top:120px;margin-bottom: 60px; padding:0;}


/*메인이름 위치*/

.wrap { width : 38%; margin-left : 25%; margin-top: 2.6%;}



/*회원가입-로그인 위치*/

[class="join"] {position:fixed; right : 100px; top : 40px; }
[class="login"] {position:fixed; right : 200px; top : 40px;}



/*사이드바*/

input[id="menuicon"]:checked + label + div.sidebar {left:0;};
ul {
    list-style-type: none;
    line-height: 70px;
    padding-top: 100px;
}
a {
    text-decoration: none;
    color:#fff
}


.sidebar {
	color: white;
	font-size: 20px;
	text-align: center;

}

/*메뉴추천, 지도*/
[class="conbox con1"] {margin-top:120px; padding:0;}
[class="conbox con2"] {margin-top:10px;; padding:0;}
[class="conbox con3"] {margin-top:10px; padding:0;}
[class="conbox con4"] {margin-top:10px; margin-bottom: 60px;padding:0;}
[class="conbox con5"] {margin-top:50px;margin-bottom: 60px; padding:0;}


/*이미지 슬라이드*/

.slidebox * {margin-top:30px;margin-bottom: 60px; padding:0;box-sizing:border-box;}


ul, li {list-style:none;}

[name="slide"] {display:none;}
.slidebox {max-width:1000px;width:100%;margin:0 auto;text-align:center;}
.slidebox img {max-width:100%;}
.slidebox .slidelist {
	white-space:nowrap;
	font-size:0;
	overflow:hidden;
}
.slidebox .slideitem {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:100%;
	transition:all .35s;
}
.slidebox .slideitem label {
	position:absolute;
	z-index:1;
	top:50%;
	transform:translateY(-50%);
	padding:20px;
	border-radius:50%;
	cursor:pointer;
}


/* 페이징 스타일 */
.paginglist {text-align:center;padding:30px 0;}
.paginglist > li {display:inline-block;vertical-align:middle;margin:0 10px;}
.paginglist > li > label {display:block;padding:10px 30px;border-radius:10px;background:#ccc;cursor:pointer;}
.paginglist > li:hover > label {background:rgb(247, 171, 171);}

[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 15s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 15s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide03 15s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation:slide04 15s infinite;}




@keyframes slide01 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:-300%;}
	98% {left:-300%;}
	100% {left:0%;}
}
@keyframes slide02 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
@keyframes slide03 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:200%;}
	73% {left:200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
@keyframes slide04 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:300%;}
	48% {left:300%;}
	50% {left:200%;}
	73% {left:200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}



